@media only screen and (max-width: 640px) {
 
    .footer>* {
        display: grid;
        place-items: center;
        gap: .5rem;
        width: 100%;
    }
 }

@media only  screen and (max-width: 639px){
    
    section.w-5\/6.mx-auto.mb-20.mt-5.bg-blend-hue {
        overflow: hidden;
    }
}
@media only  screen and (max-width: 425px){
    
    footer.footer.p-10.text-white.text-base-content {
        margin-left: -39px;
        text-align: center;
    }
}


